@charset="UTF-8";

body {
	background: #000; 
}

#interface{
	background: #000;
	max-width: 1200px;
	margin: -8px auto 0px auto;
 	/* sup, inf, */
	/* auto vai centralizar a direita e esquerda */
	
}

#topo {
	height: 130px;
	/* background: #808080; */
	z-index: 1;
}

/* inicio menu */
#menu{
	/* background: #dcdcdc; */
	display: block; /* movimentar para onde for necessario/ os itens da lista vão flutuar  */
	position: absolute; 
	width: 800px;
	top: 130px;
	margin-left: 300px;
	top: 97px;
	z-index: 2;
	
}
#menu ul {
	text-decoration: none; /* tira o sublinhado */
	list-style: none;/* tira as bolinhas */
	margin: 0px;
	padding: 0px;
	font-size: 14pt;
	font-family: verdana;
	
}
#menu li{
	float: left;
	/* text-decoration: none; */
}

#menu li ul {
	display: none;
}

#menu li:hover ul{
	display: block;
	position: relative;
	
}

#menu li:hover li{
	float:none;
}

#menu li a {
	text-decoration: none;
	margin: 0px;
	padding: 5px 25px;
	background: #000;
	color: #FFF;
	display: block;
}

#menu li a:hover{
	background: #FFF;
	color: #000;
	text-decoration: underline;
}
/* fim do menu */

/* inicio banner  */

.banner_anime{
	position: relative;
	display: inline-block;/* em cima um do outro */
	width: 100%;
	height: 350px;
	margin: 0px;
}

.banner_anime img{
	position: absolute;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: linear; /* tipos eas, linear, ease-in, ease-out,aliviar-in-out */
}

.anime1, .anime2:hover {
	opacity: 1;/* mostra a imgem completa */
}

.anime1:hover, .anime2{
	opacity:  0;
}

.console {
	position: relative;
	max-width: 1200px;
	height: auto;
	left: 1.5%;
}

.ps_xbox{
	float: left;
	width: 350px;
	margin: 10px 20px;
}

img {
	max-width: 100%; /* nao ultrapassa o tamanho da imagem original; */
	height: auto;
}

.rodape {
	clear: both;/* sai das divisoes */
	border-top: 2px solid yellow;
}
 .rodape p {
	 text-align: center;
 }

h3 {
	text-align: center;
	font-family: verdana;
	font-size: 20px;
	margin: 3px;
	color: #dcdcdc;
}

p {
	text-align: justify;
	color: #fff;
	text-indent: 20px;
	font-family: verdana;
	font-size: 14pt;
	padding: 0px 15px;
}

span a{
	font-size: 12pt;
	text-decoration: none;
	color: #9bc848;
	padding: 0px 15px;
	display: block;
	margin: 0px auto;
	text-align: center;
}

span a:hover{
	color: #87CEEB;
}

.rodape a{
	text-decoration: none;
}

/* CSS PAGINA XBOX E PS */